<div class="wrapper">
  <h1 class="item-title">{{title}}</h1>
  <div class="item-container">
    <div class="item-foto">
      <ul class="item-slider">
        <li class="slider-item-2 is-active">
          <img src={{imgBig1}} alt={{title}} class="item-img">
        </li>
        <li class="slider-item-2">
          <img src={{imgBig2}} alt={{title}} class="item-img">
        </li>
        <li class="slider-item-2">
          <img src={{imgBig3}} alt={{title}} class="item-img">
        </li>
      </ul>
      <ul class="slider-control-2">
        <li class="slider-control-item">
          <button class="slider-control-button-2 is-back" type="button">
            <span class="visually-hidden">Предыдущий слайд</span>
          </button>
        </li>
        <li class="slider-control-item">
          <button class="slider-control-button-2 is-next" type="button">
            <span class="visually-hidden">Следующий слайд</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="item-price">
      <p>Цена в розничной сети: {{price}} р.</p>
      <hr>
      <p class="price">Цена в интернет магазине: {{discountPrice}} р.</p>
      <button type="button" class="buy" data-id="{{id}}" data-csrf="{{csrf}}">Купить</button>
      <button type="button" class="product-bookmark" data-id="{{id}}" data-csrf="{{csrf}}">В закладки</button>
      <div class = "item-delivery">
        <p>Самовывоз сегодня</p>
        <p>Доставка завтра</p>
      </div>
      <p>12 мес. гарантии</p>
    </div>
    <div class="item-specification">
      <h3>Основные характеристики</h3>
        <p>{{parameter1}}</p>
        <p>{{parameter2}}</p>
        <p>{{parameter3}}</p>
    </div>
  </div>
  <p>{{description}}</p>
  {{#if isAdmin}}
    <section class="catalog3">
      <a class="admin-button" href="/catalog/{{id}}/edit">Редактировать товар</a>
      <form action="/catalog/remove" method="POST">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="id" value="{{id}}">
        <button class="admin-button">Удалить товар</button>
      </form>
    </section>
  {{/if}}
</div>
    <div class="modal-cart popup">
        <button class="popup-close modal-cart-close"><span class="visually-hidden">закрыть</span></button>
        <div class="modal-cart-content">
            <p class="modal-cart-text">Товар добавлен в корзину!</p>
        </div>
        <div class="modal-cart-footer">
            <a class="modal-cart-btn" href="/cart">Оформить заказ</a>
            <a class="modal-cart-close-btn" href="#">Продолжить покупки</a>
        </div>
    </div>